@import '../../utils/variables.style';

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-form {
  border: 2px $main-color solid;
  width: 20vw;
  height: 30vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  & * {
    margin: .5em 0;
  }
}
