@import '../../utils/variables.style';

.base-container {
  max-height: 100vh;
}

//BASE ADMIN CONTAINER
.base-admin-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 20vw 80vw;
  flex-flow: row nowrap;

  .nav-side {
    position: relative;
    grid-column: 1 / 2;
  }

  .main-side {
    margin: 0 2vw;
    grid-column: 2 / -1;
    position: relative;


  }
}
.scrollable {
  overflow: scroll;
}
.main-container {
  height: 80vh;
}

.header {
  //position: fixed;
  //top:0;
  //left: 0;
  width: 100%;
  height: 20vh;
  text-align: center;
  //z-index: 2;
}

// AUTH CONTAINER
.auth-container {
  width: 100%;
  height: 100vh;
}
