@import '../../utils/variables.style.scss';

.nav {
  position: relative;
  height: 100vh;
}

//.collapse {
//  visibility: hidden;
//  display: none;
//}

.nav-button {
  border-radius: 100px;
  z-index: 10;
  color: lightgray;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.nav-bar {
  height: 100vh;
  width: 20vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  border-right: 1em $main-color solid;
}

.nav-link {
  background-color: #FFFFFF;
  width: 100%;
  padding: 1.5em 0 1.5em 0;
  border: 2px $main-color solid;
  transition: all .2s ease;
  text-transform: uppercase;
  text-align: center;
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bold;
  letter-spacing: .25em;
}

.nav-link:hover {
  transform: translate(0.3em, -0.3em);
}
.nav-link:active{
  background-color: $main-color;
  transform: translate(0.1em, 0.1em);
}

.active {
  background-color: $main-color;
}
