body {
  margin: 0;
  font-family: 'Anek Telugu', sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Anek Telugu', sans-serif;
}
